[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/doctest/doctest.git
[submodule "ext/loguru"]
	path = ext/loguru
	url = https://github.com/emilk/loguru.git
[submodule "ext/nanobind"]
	path = ext/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "ext/lua-intf"]
	path = ext/lua-intf
	url = https://github.com/SteveKChiu/lua-intf.git
[submodule "ext/IconFontCppHeaders"]
	path = ext/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "ext/filewatch"]
	path = ext/filewatch
	url = https://github.com/ThomasMonkman/filewatch.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/pbar"]
	path = ext/pbar
	url = https://github.com/estshorter/pbar.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "assets"]
	path = assets
	url = https://github.com/20niship/melchior-assets.git
