.cache/*
build/*
.vs/
*.swp
html
lcov.info
*/.vscode/
!/.vscode

__pycache__

doxygen-awesome-css

.DS_Store

examples/tmp.cpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.webinfo
*.rule
*.suo
*.log
*.pdb
CMakeFiles
build*/

# Aviutl Cache
*.lwi
*.lwf

*.mp3
*.mp4
*.wav
*.jpg
